<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EventosYa</display-name>
  <welcome-file-list>
    <welcome-file>webs/Menu_inicio.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>servlets.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventoServlet</display-name>
    <servlet-name>EventoServlet</servlet-name>
    <servlet-class>servlets.EventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventoServlet</servlet-name>
    <url-pattern>/EventoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsistenteServlet</display-name>
    <servlet-name>AsistenteServlet</servlet-name>
    <servlet-class>servlets.AsistenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsistenteServlet</servlet-name>
    <url-pattern>/AsistenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComentarioServlet</display-name>
    <servlet-name>ComentarioServlet</servlet-name>
    <servlet-class>servlets.ComentarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentarioServlet</servlet-name>
    <url-pattern>/ComentarioServlet</url-pattern>
  </servlet-mapping>
</web-app>